body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
	height: 100vh;
}

header {
    text-align: center;
    padding: 50px 20px;
    background-color: #f8f8f8;
	height: calc(90vh - 100px);
}

.header-content {
    max-width: 600px;
    margin: 0 auto;
	
}

.header-content h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.header-content p {
    margin-bottom: 20px;
}

.buttons button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

footer {
    background-color: #f8f8f8;
    text-align: center;
    padding: 20px 0;
	height: 100px;
}

.footer-content {
    margin-bottom: 10px;
}

.social-icons img {
    width: 24px;
    height: 24px;
    margin: 0 5px;
}
